body {
    overflow: hidden;
}

.block {
    background-color: rgba(0, 200, 150, 1);
    height: 70.71067811865476%;
    position: absolute;
    top: -70%;
    width: 70.71067811865476%;
}

#root {
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100px;
    left: 500px;
    left: -moz-calc(50% - 50px);
    left: -webkit-calc(50% - 50px);
    left: calc(50% - 50px);
    top: 500px;
    transform: rotate(0);
    width: 100px;
}

.block:nth-child(1) {
    left: 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    /*animation-name: leftSway;*/
}

.block:nth-child(2) {
    right: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    /*animation-name: rightSway;*/
}

@keyframes leftSway {
    from {
        transform: rotate(-35deg);
    }
    to {
        transform: rotate(-55deg);
    }
}

@keyframes rightSway {
    from {
        transform: rotate(55deg);
    }
    to {
        transform: rotate(35deg);
    }
}
