body {
    overflow: hidden;
}

div {
    background-color: rgba(0, 200, 150, 1);
    height: 70.71067811865476%;
    position: absolute;
    top: -70%;
    width: 70.71067811865476%;
}

#root {
    height: 100px;
    left: calc(50% - 50px);
    top: 500px;
    transform: rotate(0);
    width: 100px;
}

div:nth-child(1) {
    left: 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

div:nth-child(2) {
    right: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
